{%extends "Homepage.html"%}

{%block wikipedia%}
    <li><a href="https://it.wikipedia.org/wiki/Pagina_principale">Wikipedia</a></li>
{%endblock%}

{%block Container%}
    <table>
        <tr>
            <th>Nome Prodotto</th>
            <th>Scaffale</th>
            <th>Prezzo</th>
        </tr>

        {%for item1 in lista%}
        <tr>
            <td>{{item1[0]}}</td>
            <td><a href="{{url_for('scaffale', nScaff=item1[1])}}">{{item1[1]}}</a></td>
            <td>{{item1[2]}}</td>
    
        </tr>
        {%endfor%}
    </table>
    {%endblock%}

